@model List<List<Demos.Models.ScaleModel>>

<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Western Classical Music</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Western Classical", "Index", "Home", new { area = "" }, null)</li>
    </ul>
</div>
<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Major Scales</h3>
                    </div>
                    <div class="card-body">
                        <p>Intervals: @ViewBag.MajorIntervals</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model[0])
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Notes</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Natural Minor Scales</h3>
                    </div>
                    <div class="card-body">
                        <p>Intervals: @ViewBag.NaturalMinorIntervals</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model[1])
            {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Notes</td>
                    </tr>
}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

